
{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div>
    <section class="about-us">
        <h2>ABOUT US</h2>
        <p>At DocSage, We Are Dedicated To Empowering Individuals To Take Control Of Their Health. Our Mission Is To Provide Accessible, Reliable, And Expert Medical Advice To Everyone, Everywhere. With Our Comprehensive Symptom Checker, Detailed Disease Information, And Expert Consultations, We Ensure That You Have The Tools And Resources You Need To Make Informed Health Decisions.</p>
        <div class="about-details">
            <div class="about-item">
                <h3>Our Mission</h3>
                <p>To Provide Accessible, Reliable, And Expert Medical Advice To Everyone, Everywhere.</p>
            </div>
            <div class="about-item">
                <h3>Our Vision</h3>
                <p>To Be The Leading Platform For Personalized Healthcare Solutions, Empowering Individuals To Take Control Of Their Health.</p>
            </div>
            <div class="about-item">
                <h3>Our Values</h3>
                <p>Integrity, Compassion, Innovation, Excellence</p>
            </div>
        </div>
    </section>
</div>
{% endblock %}


